SERVICE_ADDRESS=
SERVICE_NAME=
SERVICE_PORT=
SERVICE_VERSION=
SERVICE_JWT_SECRET=

SENTRY_ADDRESS=
SENTRY_USERNAME=
SENTRY_PORT=
SENTRY_PASSWORD=
SENTRY_ENV=

CACHE_ADDRESS=
CACHE_DRIVER=
CACHE_USERNAME=
CACHE_PASSWORD=
CACHE_PORT=

MICRO_CLIENT=grpc

AUTH_SERVICE_HOST=http://localhost:8094
USER_SERVICE_HOST=http://localhost:8095
ROLES_SERVICE_HOST=http://localhost:8097
MASTER_DATA_SERVICE_HOST=http://localhost:8096